body {
    background-color: aliceblue;
}

.link {
    padding: 25px 50px 25px;
    text-align: center;
    font-size: 40px;
}

.bookActions {
    font-size: 15px;
    list-style: none;
    padding-top: 10px;
}